<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-janalytics"
    version="1.1.2"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>JAnalytics</name>
    <description>JAnalytics for cordova plugin</description>
    <author>WilhanTian,jiguang</author>
    <keywords>JAnalytics,analytics</keywords>
    <license>MIT License</license>

    <preference name="APP_KEY"/>

    <dependency id="cordova-plugin-jcore"/>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module name="JAnalytics" src="www/JAnalytics.js">
        <clobbers target="JAnalytics" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JAnalyticsPlugin">
                <param name="ios-package" value="JAnalyticsPlugin" />
            </feature>
        </config-file>

        <config-file parent="JAnalytics" target="*-Info.plist">
			<dict>
				<key>APP_KEY</key>
				<string>$APP_KEY</string>
			</dict>
		</config-file>

        <!--库依赖-->
        <framework src="UIKit.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreFoundation.framework" weak="true" />
        <framework src="CFNetwork.framework" weak="true" />
        <framework src="libz.tbd" weak="true" />
        <framework src="libresolv.tbd" weak="true" />

        <!-- 库文件 -->
        <header-file src="src/ios/libs/JANALYTICSService.h" />
        <header-file src="src/ios/libs/JANALYTICSEventObject.h" />
        <source-file src="src/ios/libs/janalytics-ios-1.1.3.a" framework="true" />
        
        <!-- iOS 插件原生代码 -->
        <header-file src="src/ios/JAnalyticsPlugin.h" />
        <source-file src="src/ios/JAnalyticsPlugin.m" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JAnalyticsPlugin">
                <param name="android-package" value="cn.jiguang.cordova.analytics.JAnalyticsPlugin" />
            </feature>
        </config-file>

    	<config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    	</config-file>

        <!--基础配置-->
    	<config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="JPUSH_APPKEY" android:value="$APP_KEY"/>
    	</config-file>

        <source-file src="src/android/libs/janalytics-android-1.1.2.jar" target-dir="libs" />
        <source-file src="src/android/JAnalyticsPlugin.java" target-dir="src/cn/jiguang/cordova/analytics" />
    </platform>
</plugin>
